@model EventDetailVM

@{
    ViewData["Title"] = "Detail";
}

<style>
    .status-slider {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;
    }

    .status-true {
        background-color: greenyellow;
    }

    .status-false {
        background-color: orangered;
    }

    body {
        background-color: #F4F5F7;
    }

</style>

<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Event Detail Table</h4>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Heading
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Month
                            </th>
                            <th>
                                Day
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model.Heading
                            </td>
                            <td>
                                @Model.Description
                            </td>
                            <td>
                                @Model.CreatedDate
                            </td>
                            <td>
                                @Model.Month
                            </td>
                            <td>
                                @Model.Day
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <br></br>
            <a asp-action="Index" class="btn btn-outline-info btn-fw">Back</a>
        </div>
    </div>

</div>

